@font-face {
	font-family: "montserrat-regular";
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: "montserrat-bold";
	src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: "aleo-regular";
	src: url('../fonts/Aleo-Regular.otf');
}

@font-face{
	font-family: "aleo-bold";
	src: url('../fonts/Aleo-Bold.otf');
}

body{
	font-family: "aleo-regular";
	font-size: 16px;
	color:#373737;
	margin:0;
}

h2 {
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 12px;
	font-family: "montserrat-regular";
	text-transform: uppercase;
	margin-left: 5%;
	color: #eb6148;
}

h3 {
	font-family: "montserrat-bold";
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-primary {
	color: #fff;
	background-color: #eb6148;
	border-color: #c3513c;
}

.btn-yep{
	margin-left:10px;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.nav{
	display: table;
    width: 100%;
    text-align: center;
	padding-left: 0px;
	font-family: "montserrat-bold";
	font-size:19px;
	margin-top: 13px;
}

.nav li {
    width: 20%;
	float: left;
	list-style: none;
}

.nav li a {
	text-decoration: none;
	color:#373737;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
}

.nav li.active a{
	color:#eb6148;
}

.sauCoolesButtonDiv{
	text-align: center;
}

.header-day{
	font-size: 14px;
	font-family: "montserrat-regular";
}

.meal-pictures{
	position: relative;
	text-align: center;
	background: #000;
	line-height: 10px;
	color:#FFF;
	font-family: "montserrat-regular";
	font-size: 14px;
}

.meal-pictures .no-image {
    text-align: center;
    height: 70px;
    padding-top: 60px;
    background: url(../images/no-image.png) center center;
    background-size: cover;
    background-color: #333;
    color:#fff;
}
.meal-pictures .no-image span{
	border:1px solid white;
	padding: 2px 10px;
}

.meal-picture{
	width:50%;
	float: left;
}

.meal-picture img{
	max-width: 100%;
    width: auto\9; /* ie8 */
	height:auto;
}

.picture-gradient{
	position: relative;
	bottom: 0px;
	background-image: url(../images/picture-gradient.png);
	background-repeat: repeat-x;
	height: 112px;
	width: inherit;
	margin-top: -112px;
	width: 100%;
}

.poster-dude{
	font-size: 10px;
	position: absolute;
	bottom: 5px;
	right: 7%;
	line-height: 35px;
}

.poster-dude img{
	margin-left: 10px;
	border-radius: 9999px;
	border: 2px solid #FFF;
	height:32px;
	width: 32px;
	position: relative;
	top: 12px;
	right: 0px;
}

.meal-info{
	clear:both;
	position: relative;
	background: #fff;
}

.meal-picture-posting {
	clear:both;
	float: right;
	padding-right: 6.25%;
	padding-top: 4%;
}

.meal-picture-posting img{
	width: 29px;
	height: 25px;
	margin-top: 7px
}

.meal-like {
	font-size: 20px;
	font-family: "montserrat-regular";
	float: right;
	padding-right: 6%;
	padding-top: 5%;
}

.meal-like img{
	width: 12px;
	height: 10px;
}

.meal-like a{
	color:#eb6148;
	text-decoration: none;
	font-size: 15px;
}

.liked .meal-like-circle{
	background: #eb6148;
}

.meal-like-circle{
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 37px;
	border-radius: 9999px;
	border:	2px solid #eb6148;
	text-align: center;
}

.liked .meal-like-circle a{
	color:#fff;
}

.meal-camera-circle{
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 37px;
	border-radius: 9999px;
	border: 2px solid #eb6148;
	text-align: center;
}

.meal-description {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 0px;
	background: #fff;
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 20px;
	width: 70%;
	box-sizing: border-box;
}

.meal-description h1{
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: "montserrat-bold";
}

.meal-description b {
	font-family: "aleo-bold";
	line-height: 23px;
}

.meal{
	overflow: hidden;
	border-top: 2px solid #ECECEC;
	min-height: 200px;
}

.meal h4 {
	font-family: "montserrat-bold";
	font-size: 14px;
	margin: 0px;
	text-transform: uppercase;
	background: #fff;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 11px;
}

#days > section {
	width: 500%;
}
.day{
	width: 20%;
	float: left;
}

.viewport {
	margin-top: 103px;
	width: 100%;
	overflow: hidden;
}

.header {
	position: fixed;
	background: #fff;
	top: 0;
	width: 100%;
	z-index: 10;
}

.iOS .header{
	/*
	 padding-top:10px; 
	*/
}

.menus {
	background: #161616;
}

.dot {
	display: inline-block;
	width: 3px;
	height: 3px;
	float: right;
	border: 2px solid #fff;
	border-radius: 10px;
	margin-right: 10px;
	background: #fff;
}

.dot.active {
	background: none;
}

.meal-dots{
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 10px 5px 0px 0px;
	box-sizing: border-box;
	overflow: hidden;
}

/*---mensa chooser---*/
.mensa-chooser{
	font-family: montserrat-regular;
	font-size: 14px;
	color:#373737;
	text-align: center;
}

.mensa-chooser ul{
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
}

.mensa-chooser ul li{
	border-top: 1px solid #373737;
	line-height: 40px;
}

.mensa-chooser ul li.selected{
	background-color: #c6c6c6;
}

.mensa-chooser ul li:last-child{
	border-bottom: 1px solid #373737;
}

.mensa-chooser a{
	text-decoration: none;
	color:#373737;
}
/*---end mensa chooser---*/
/*.header {
	width: 100%;
	margin: 0 auto;
}*/