.DS_Store

/node_modules
.tmp
.tmp/
/app/bower_components
/platforms/android/assets/www
/platforms/ios/www
/www

/platforms/android/out/production/android/android.apk

/platforms/android/out/production/android/android.unaligned.apk

/platforms/android/.idea/workspace.xml
