<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>happn crossplatform</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>


        <div class="container">
     
        </div>

        <script type="text/template" id="template-mensen">
            <h3>Mensa wählen</h3>
            <ul>
                <%  mensen.forEach(function( mensa ){ %>
                    <li data-id="<%= mensa.id %>">
                        <a href="/select-mensa/<%= mensa.name %>"><%= mensa.name %></a>
                    </li>
                <% }); %>
            </ul>

            <button class="btn btn-primary">Los gehts</button>
        </script>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/views/view.js"></script>
        <script src="scripts/views/mensaChooser.js"></script>
        <script src="scripts/views/menuSlider.js"></script>
        <script src="scripts/views/rootView.js"></script>
        <script>
            new happn.Views.RootView();
        </script>
        <!-- endbuild -->
</body>
</html>
