<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title>happn crossplatform</title>
		<link rel="stylesheet" href="styles/style.css">
		<script src="bower_components/modernizr/modernizr.js"></script>
    </head>
    <body>
    	<section class="viewport">
    		<header class="header">
      			<ul class="nav">
        			<li class="active"><a href="#"><div>MO</div><div class="header-day">22</div></a></li>
        			<li><a href="#"><div>DI</div><div class="header-day">23</div></a></li>
        			<li><a href="#"><div>MI</div><div class="header-day">24</div></a></li>
        			<li><a href="#"><div>DO</div><div class="header-day">25</div></a></li>
        			<li><a href="#"><div>FR</div><div class="header-day">26</div></a></li>
        		</ul>
    		</header>
    		<section id="wrapper">
    			<section id="scrollable">
    				<section class="content">
    					<section class="menus">
    						<div class="meal-picture"><img src="images/food.jpg">
								<div class="picture-gradient">
									<div class="poster-dude">
									POSTED BY SEPPSTER<img src="images/avatar.png">
									</div>
								</div>
    						</div>
    						<div class="meal-info">
    							<div class="meal-like">
    								<img src="images/herzle.png">
    								<div class="meal-like-circle">
    									<a href="#">0</a>
    								</div>	
    							</div>
    							<div class="meal-description">
	    							<h1>MENÜ A</h1>
	    							Tagessuppe<br/>
									Italienischer Nudelteller<br/>
									mit Tomaten-Basilikum-Sauce<br/>
									Blattsalat<br/>
									Dessert<br/>
    							</div>
    						</div>
    					</section>
    				</section>
    			</section>
    		</section>
    	</section>

        <script type="text/template" id="template-mensen">
            <h3>Mensa wählen</h3>
            <div class="mensa-chooser">
                <ul>
                    <%  mensen.forEach(function( mensa ){ %>
                        <li data-id="<%= mensa.id %>">
                            <a href="/select-mensa/<%= mensa.name %>"><%= mensa.name %></a>
                        </li>
                    <% }); %>
                </ul>

                <button class="btn btn-primary">Los gehts</button>
            </div>
        </script>
    
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
    
        <script src="scripts/main.js"></script>
        <script src="scripts/views/view.js"></script>
        <script src="scripts/views/mensaChooser.js"></script>
        <script src="scripts/views/menuSlider.js"></script>
        <script src="scripts/views/rootView.js"></script>
        <script>
            new happn.Views.RootView();
        </script>
    </body>
</html>
