<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title>happn crossplatform</title>
		<link rel="stylesheet" href="styles/style.css">
		<script src="bower_components/modernizr/modernizr.js"></script>
        <script type="text/javascript">
            navigator.userAgent.toLowerCase().indexOf('iphone') && document.documentElement.classList.add('iOS');
        </script>
    </head>
    <body>
    	<section class="viewport"></section>
        <script type="text/template" id="template-mensen">
            <h3>Mensa nach Position bestimmen</h3>
            <div class="mensa-chooser">
                <p>Du bist verwirrt und weisst nicht mehr wo deine Mensa ist?</p>
                <button class="btn btn-primary position">Los gehts</button>
                <p>&nbsp;</p>
                <h3>Mensa direkt auswählen</h3>
                <p>Wenn du schon genau weisst wo deine Mensa ist wähle einfach direkt.</p>
                <ul>
                    <%  mensen.forEach(function( mensa ){ %>
                        <li data-id="<%= mensa.id %>">
                            <a href="/select-mensa/<%= mensa.name %>"><%= mensa.name %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </script>
        <script type="text/template" id="template-map">
            <div id="map-panel" style="width:device-width; height:450px;"></div>

            <h3>Ist das die richtige Mensa?</h3>
            <div class="sauCoolesButtonDiv">
                <button class="btn btn-primary btn-nope back">Äh nee</button>
                <button class="btn btn-primary btn-yep direct">Yup passt!</button>
            </div>
        </script>
        <script type="text/template" id="template-menuNav">
                <ul class="nav">
                    <% ["Mo", "Di", "Mi", "Do", "Fr"].forEach(function(day, i){ %>
                    <li data-index="<%= i %>"><a href="#"><div><%= day %></div><div class="header-day"><%= dates[i] %></div></a></li>
                    <% }); %>
                </ul>
        </script>

        <script type="text/template" id="template-menuBase">
            <div >
                <header class="header"></header>
                <div id="days">
                    <section></section>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-menuDay">
            <section class="day" data-date="<%= date %>">
                <section class="content">
                    <section class="menus scrollable">
                    </section>
                </section>
            </section>
        </script>
        <script type="text/template" id="template-menuItem">
            <div class="meal">
                    <h4><%= menu.name %></h4>
                    <div class="meal-dots">
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <div class="meal-pictures">
                        <div class="meal-picture">
                            <img src="images/food.jpg">
                            <div class="picture-gradient">
                                <div class="poster-dude">
                                POSTED BY SEPPSTER<img src="images/avatar.png">
                                </div>
                            </div>
                        </div>
                        <div class="meal-picture">
                            <img src="images/food.jpg">
                            <div class="picture-gradient">
                                <div class="poster-dude">
                                POSTED BY SEPPSTER<img src="images/avatar.png">
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="meal-info">
                    <div class="meal-like">
                        <img src="images/herzle.png">
                        <div class="meal-like-circle">
                            <a href="#"><%= menu.likes || menu.up_votes %></a>
                        </div>  
                    </div>
                    <div class="meal-description">
                        <%= menu.title %>
                    </div>
                </div>
            </div>
        </script>

        <script src="../platform/js/libs/cordova.js"></script>
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="scripts/cantTouchThis.jquery.js"></script>
        <script src="scripts/spring.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAqk7HxjNAv9Ws9SQYpWQHdbk9ayYtKsF8&sensor=false&language=de"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/views/view.js"></script>
        <script src="scripts/views/mensaChooser.js"></script>
        <script src="scripts/views/menuSlider.js"></script>
        <script src="scripts/views/rootView.js"></script>
        <script>
            new happn.Views.RootView();
        </script>
        <script type="text/javascript">
            /** Converts numeric degrees to radians */
            if (typeof(Number.prototype.toRad) === "undefined") {
              Number.prototype.toRad = function() {
                return this * Math.PI / 180;
              }
            }
        </script>
    </body>
</html>
